body {
	font-family: Arial, sans-serif;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	background: url(/icons/128.png) top left no-repeat;
	background-size: 48px;
	min-height: 48px;
	padding-left: 52px;
}

h2 {
	margin-top: 0;
}

#mainContent {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 10px;
}

#about {
	padding: 10px;
	background: #eee;
	width: 220px;
}

#smallprint {
	display: block;
	clear: both;
	font-size: 0.8em;
}

fieldset {
	border: none;
}

input[type=text],
select {
	width: 300px;
}

input[type=button],
input[type=submit] {
	background: linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	border: 1px solid #aaa;
	color: #444;
	padding: 3px 12px;
	border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

input[type=button]:hover,
input[type=submit]:hover {
	background: #EBEBEB linear-gradient(#FEFEFE, #F8F8F8 40%, #E9E9E9);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

input[type=button]:active,
input[type=submit]:active {
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
	background: #ebebeb linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
	color: #333;
}

input[disabled] ~ label {
	color: gray;
}

#firstrun .install,
#firstrun .update {
	display: none;
}

dl dt {
	padding-top: 10px;
	font-weight: bold;
}

dl dd {
	margin-left: 0;
}

dl dd ul li {
	margin-top: 4px;
}

iframe {
	width: 100%;
	height: 300px;
}
