{
  "extends": "standard",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": false
  },
  "globals": {
    "chrome": true
  },
  "rules": {
      "complexity": ["error", 6]
  }
}
